In [2]:
from testutil import change_to_root, transform_ppe_data
import pandas as pd
change_to_root()

Current working directory: /Users/David/Documents/GitHub/outage-dashboard/tests
Changed to project root directory: /Users/David/Documents/GitHub/outage-dashboard

In [ ]:
# Set the working directory to the parent directory of 'data_prep'
ppe_data = pd.read_csv('datasets/ppe.csv')  
transformed_df = transform_ppe_data(ppe_data,folder='datasets', save_to_excel=True, save_to_csv=True)
file_name = "transformed_ppe_data.xlsx"
transformed_df

,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP_ENTITY_NAME,SP_ENTITY_ID,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,...,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E,PP&E
4,NaN,NaN,CQ12000,CQ22000,CQ32000,CQ42000,CQ12001,CQ22001,CQ32001,CQ42001,...,CQ32021,CQ42021,CQ12022,CQ22022,CQ32022,CQ42022,CQ12023,CQ22023,CQ32023,CQ42023
5,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AT&T Inc.,NaN,47132000000.0,48045000000.0,49697000000.0,47195000000.0,47550000000.0,48559000000.0,48872000000.0,49827000000.0,...,148760000000.0,143473000000.0,151100000000.0,146943000000.0,148827000000.0,149259000000.0,150077000000.0,150364000000.0,149497000000.0,149497000000.0
8,"Frontier Communications Parent, Inc.",NaN,2946976000.0,3264007000.0,3255120000.0,3520712000.0,3508257000.0,4662361000.0,4537291000.0,4512038000.0,...,8918000000.0,9399000000.0,9575000000.0,10108000000.0,10847000000.0,12037000000.0,12748000000.0,13353000000.0,13621000000.0,13621000000.0
9,"Lumen Technologies, Inc.",NaN,2232390000.0,2235891000.0,2891787000.0,2959293000.0,2954667000.0,2965053000.0,2985698000.0,2736142000.0,...,20926000000.0,22346000000.0,20829000000.0,20720000000.0,20713000000.0,20506000000.0,19321000000.0,19432000000.0,19606000000.0,19606000000.0
10,Comcast Corporation,NaN,4764600000.0,4665800000.0,5121600000.0,5519900000.0,5664700000.0,6472300000.0,6782100000.0,7011000000.0,...,52809000000.0,60514000000.0,53820000000.0,53508000000.0,53555000000.0,61482000000.0,56279000000.0,56851000000.0,58165000000.0,58165000000.0
11,Verizon Communications Inc.,NaN,39749000000.0,64774000000.0,66305000000.0,69504000000.0,71369000000.0,73542000000.0,72897000000.0,74419000000.0,...,123725000000.0,127579000000.0,127337000000.0,128408000000.0,129592000000.0,133564000000.0,132934000000.0,132615000000.0,132576000000.0,133036000000.0
12,"T-Mobile US, Inc.",NaN,1501399000.0,2086105000.0,2497426000.0,3467550000.0,3764548000.0,4004266000.0,4046920000.0,3390103000.0,...,70197000000.0,70084000000.0,74742000000.0,73943000000.0,73917000000.0,74058000000.0,73481000000.0,73060000000.0,72038000000.0,72038000000.0
13,"Charter Communications, Inc.",NaN,3831644000.0,4233878000.0,4681483000.0,4829000000.0,5500886000.0,6339551000.0,6727029000.0,6914000000.0,...,35458000000.0,35616000000.0,34173000000.0,34472000000.0,35005000000.0,37274000000.0,36602000000.0,37546000000.0,38617000000.0,38617000000.0

In [3]:
from data_prep import FinancialDataTransformer

try:
    fd = FinancialDataTransformer(financial_data_file_name='SPGlobal_Example.xlsx',folder='datasets', normalize=False)
    fd.get_financial_data()
except Exception as e:
    print(e)

Reading finance data from: datasets/SPGlobal_Example.xlsx
The data file is missing the 'Company' column; attempting to clean data...
Column 'SP_ENTITY_ID' removed successfully.
Data successfully unpivoted and normalized.
Quarter and Year columns created successfully.
Finance data filtered and company names cleaned successfully.

In [ ]:
from data_prep import OutageDataProcessor

ot = OutageDataProcessor('outage_data.csv',start_year=2016, end_year=2023)
ot.get_outage_frequency()

Initialized with year range 2016 to 2023.

Data aggregated and counted by company, year, and quarter successfully.

                         Company  Year Quarter  Count
0                      AT&T Inc.  2016      Q3    199
1                      AT&T Inc.  2016      Q4    234
2                      AT&T Inc.  2017      Q1    216
3                      AT&T Inc.  2017      Q2    229
4                      AT&T Inc.  2017      Q3    238
..                           ...   ...     ...    ...
355  Verizon Communications Inc.  2022      Q4    327
356  Verizon Communications Inc.  2023      Q1    300
357  Verizon Communications Inc.  2023      Q2    311
358  Verizon Communications Inc.  2023      Q3    348
359  Verizon Communications Inc.  2023      Q4    357

[360 rows x 4 columns]

In [ ]:
from data_prep import DataPreparer

dp = DataPreparer('outage_data.csv','transformed_ppe_data.xlsx',start_year=2016,normalize=True)
dp.get_data()

Initialized with year range 2016 to 2023.

Linking Data...
Data aggregated and counted by company, year, and quarter successfully.
Reading finance data from: datasets/transformed_ppe_data.xlsx
The data file is missing the 'Company' column; attempting to clean data...
Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97],
      dtype='int64')
Quarter and Year columns created successfully.
Finance data filtered successfully.
Finance data unpivoted successfully.
Data linked successfully.

                         Company  Year Quarter  Count     PP&E
0                      AT&T Inc.  2016      Q3    199  123.922
1                      AT&T Inc.  2016      Q4    234  124.899
2                      AT&T Inc.  2017      Q1    216  125.292
3                      AT&T Inc.  2017      Q2    229  126.184
4                      AT&T Inc.  2017      Q3    238  126.462
..                           ...   ...     ...    ...      ...
205  Verizon Communications Inc.  2022      Q4    327  133.564
206  Verizon Communications Inc.  2023      Q1    300  132.934
207  Verizon Communications Inc.  2023      Q2    311  132.615
208  Verizon Communications Inc.  2023      Q3    348  132.576
209  Verizon Communications Inc.  2023      Q4    357  133.036

[210 rows x 5 columns]